body{
    margin: 20px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
}


.pag{
    margin-top:20px;
    border: 20px lavender;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: lavender;
}

.nav{
    margin-top:20px;
    margin-bottom:20px;
}


/* Style the tab */
.tabb {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    max-width:300px;
}

/* Style the buttons inside the tab */
.tabb button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabb button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabb button.active {
    background-color: #ccc;
}
